:root {
  --bg: #222;
  --bg-highlight: #666;
  --bg-light: #eee;
  --text-dark: #111;
  --text-light: #eee;
  --accent-light: #b4e1ff;
  --accent: #1877b7;
}

/* general dark background for most elements */
/* tbody, */
.function_table tr,
.function_table th,
body,
.readmessage_editor,
#tableMain,
.ui-widget-content {
  background: var(--bg) !important;
}

* {
  background-color: unset !important;
  color: #eee !important;
}

/* different background for highlighted (unread) rows */
.menu-item {
}

ul.menu li.menu-hover {
  background-color: var(--accent) !important;
}

ul.menu {
  border-radius: 5px;
  border: 1px solid var(--text-dark);
  background: var(--bg-light) !important;
}

ul.menu li {
  padding: 5px;
}

.top_menu_wrapper {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  background: #eee !important;
}
.top_menu_wrapper * {
  background-image: none;
  color: var(--text-dark) !important;
}

/* handle login footer */
.tr_Footer *,
.login_content_separator {
  background-image: unset !important;
  background: var(--bg);
}
#lnkForgottenPassword {
  background: var(--bg) !important;
  padding: 6px;
}

.ui-dialog-title *,
.ui-widget-header *,
/* input[type="text"], */
/* input[type="password"], */
.ui-button *,
.Combo {
  color: var(--text-dark) !important;
}

.login_news_more * {
  color: var(--text-dark) !important;
  background-color: #eee !important;
}

/* this color is readable on dark background */
.link {
  color: #b4e1ff !important;
}

/*  */
#function_tablefooter *,
#function_table_leftside,
#function_table_rightside,
#function_tableheader *,
.FunctionLeftSide,
.FunctionRightSide {
  background-image: none;
}

.function_table {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid_footerleftcorner,
.grid_RowCount,
.grid_bottomfunctionpanel,
.grid_footerrightcorner {
  background-image: none;
}

.searchpanel td {
  background-image: none;
  background-color: unset;
}

.searchpanel {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer_table td {
  background-image: none;
}
.footer_table * {
  color: unset !important;
  background-color: unset !important;
}
.footer_table {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff !important;
  color: var(--text-dark) !important;
}

.grid_pagerrow td {
  background-color: unset !important;
  background-image: none;
}
.grid_pagertable {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Gadget * {
  background-image: none;
}

.Gadget {
  border: #eee 1px solid;
  border-radius: 10px;
  border-collapse: revert;
  margin-left: 5px;
}

.boxestable {
  margin-top: 10px !important;
}

.sda div.ajax__tab_header *,
.sda div.ajax__tab_header .ajax__tab_active * {
  background-image: none !important;
}
.sda .ajax__tab_outer {
  border: var(--text-dark) 1px solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-collapse: revert;
  background-color: var(--bg-light) !important;
}

.sda .ajax__tab_outer span {
  color: var(--text-dark) !important;
}
.sda .ajax__tab_active .ajax__tab_outer span {
  color: var(--text-light) !important;
}

.sda .ajax__tab_active .ajax__tab_outer {
  background-color: var(--accent) !important;
  background-image: none !important;
}

.chip {
  background-color: var(--bg) !important;
}

.calendar .Day {
  background-color: var(--bg) !important;
}

.calendar .TodayDay {
  background: var(--accent) !important;
}

.calendar .SelectedDay {
  background: var(--bg-highlight) !important;
}

.calendar .Day a:link,
.calendar .calendar_weekendDdystyle a:link {
  color: var(--text-light) !important;
}
.calendar .calendar_othermonthdaystyle:hover,
.calendar .Day:hover,
.calendar .calendar_othermonthdaystyle:hover,
.calendar .calendar_weekendDdystyle:hover {
  background: var(--bg-highlight) !important;
}
.calendar .DayHeader {
  background: var(--bg) !important;
  color: var(--text-light) !important;
}

.header_sorteddown,
.header_sortedup {
  background: var(--bg-light) !important;
}
.header_sorteddown,
.header_sortedup span {
  color: var(--text-dark) !important;
}
